{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>#{{ tag }} | Simplinsta</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
    <div class="container text-center" style="margin-bottom:20px;">
        <h1 style="font-size: 60px;">Simplinsta</h1>
        <h2>Simple Instagram client</h2>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'show_tag' tag %}" method="POST">
                {% csrf_token %}
                {% bootstrap_field form.name show_label=False layout='horizontal' addon_before='#' %}
                {% buttons %}
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            <div class="page-header">
                <h1>#{{tag}}</h1>
            </div>
            {% for row in urls %}
                <div class="row">
                    {% for url in row %}
                        <div class="col-md-4">
                            <a href="#" class="thumbnail">
                                <img src="{{ url }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="page-header" style="margin-top:46px;">
                <h2>Recent tags</h2>
            </div>
            <ul style="padding-left: 0;list-style-type: none;">
                {% for tag in recent_tags %}
                    <li><a href="{% url 'show_tag' tag %}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </body>
</html>
